.btn {
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #3b55ce;
  color: white;
  border-color: currentColor;
}

.btn-secondary {
  background-color: #7b61f8;
  color: white;
  border-color: currentColor;
}

.btn-secondary:hover {
  background-color: #624dc6;
}

.btn-success {
  background-color: #28cf75;
  color: white;
  border-color: currentColor;
}

.btn-danger {
  background-color: #f21a1d;
  color: white;
  border-color: currentColor;
}

.btn-warning {
  background-color: #ff5f01;
  color: white;
  border-color: currentColor;
}

.btn-warning:hover {
  background-color: #cc4c00;
  color: white;
}

.btn-info {
  background-color: #00c2ba;
  color: white;
  border-color: currentColor;
}

.btn-dark {
  background-color: #141414;
  color: white;
  border-color: currentColor;
}

.btn-link {
}
